Options +FollowSymLinks
Options -Indexes

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# if a resource
RewriteCond %{REQUEST_URI} !\.(jpe?g|gif|png|ico|webp|svg|ogg|mp4|ogg|webm|js|js.map|css|css.map|pdf|zip)$ [NC]
# otherwise forward it to index.php
RewriteRule . index.php

<IfModule mod_expires>
    ExpiresActive on
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"

    ExpiresByType image/svg+xml "access plus 1 year"

    ExpiresByType text/css "access plus 1 year"
    ExpiresByType application/javascript "access plus 1 year"

    ExpiresByType audio/ogg "access plus 1 year"
    ExpiresByType video/mp4 "access plus 1 year"
    ExpiresByType video/ogg "access plus 1 year"
    ExpiresByType video/webm "access plus 1 year"
</IfModule>

